.main {
  background-color: #ea4335;
  padding: 10px 0;
}

.card {
  width: 95%;
  margin: auto;
  height: 500px;

  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 380px;
}
.card button {
  font-size: 40px;
  font-weight: bold;
  cursor: pointer;
}

.element {
  font-size: 40px;
  padding: 40px;
  background-color: antiquewhite;
}

.desc {
  width: 95%;
  margin: auto;
  background-color: white;
  height: 250px;
  border-radius: 30px;
  padding: 30px;
  padding-left: 40px;
  padding-right: 40px;
}
