@import url("https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap");

.main {
  background-color: #ea4335;
  height: fit-content;
  padding: 130px 0;
}

.container1 {
  width: 90%;
  margin: auto;
  height: fit-content;
  background-color: white;
  border-radius: 31px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 30px;
}

.full {
  width: 40%;
  padding-top: 30px;
}
.photo {
  height: 100%;
}

.tl {
  padding: 8px 20px;
  background-color: #ea4335;
  width: fit-content;
  border-radius: 9999px;
  color: white;
  margin-top: 40px;
  font-size: 20px;
  font-weight: 500;
}

.name {
  font-size: 50px;
  font-weight: 700;
  margin-top: 30px;
}

.desc {
  color: #808080;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  margin-top: 20px;
  font-size: 20px;
}
.desc p {
  font-weight: 400;
}

.stats {
}

.crossf {
  width: 90%;
  margin: auto;
  height: fit-content;
  background-color: white;
  border-radius: 31px;
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
  padding-top: 30px;
}
